/* Full Dark Background */
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #121212;
  color: white;
  font-family: Arial, sans-serif;
}

/* Card */
.card {
  width: 320px;
  padding: 30px;
  background: #1e1e1e;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(19, 26, 228, 0.05);
  text-align: center;
}

/* Heading */
.card h2 {
  margin-bottom: 20px;
}

/* Inputs */
input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background: #2c2c2c;
  border: 1px solid #444;
  color: white;
  border-radius: 6px;
}

input:focus {
  outline: none;
  border: 1px solid #0866f3;
}

/* Forgot */
.forgot {
  text-align: right;
  font-size: 14px;
}

.forgot a {
  text-decoration: none;
  color: #0866f3;
}

/* Register Button */
.register-btn {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background: #0866f3;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-weight: bold;
}

.register-btn:hover {
  background: #0866f3;
}

/* Sign In */
.signin {
  margin-top: 15px;
  font-size: 14px;
}

.signin a {
  color: #0866f3;
  text-decoration: none;
}